@charset "UTF-8";
nav{
    display: none;
}
a#burguinho{
    display: block;
    margin-right: 20px;
}
a#burguinho > img{
    width: 45%;
}
section#presentation{
    width: 100vw;
}
section#presentation > img{
    width: 75%;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
}
section#presentation > h1{
    font-size: 2em;
    padding: 0px 15px 0px 10px;
    margin: auto;
    max-width: 350px;
    margin-top: -20px;
}

.diver{
    display: inline-flex;
    width: 50.6vw;
    margin-top: 20px;
    margin-left: -10px;
}
.diver > img{
    width:  100px;
    height: 100px;
    margin: 0px 20px -30px 10px;
}
.diver  p{
    display: inline-flex;
    width: 50vw;
}
#diveren{
    margin-left: 10px;
}
#divere{
    margin-left: 10px;
}
