nav{
    display: none;
}
a#burguinho{
    display: block;
}
a#burguinho > img{
    width: 45%;
}
#presentation h1{
    width: 200px;
}
#imagesett{
    display: block;
    border-radius: 5%;
    transform: translate(15vw, -2.5vh);
    width: 300px;
}
#diveren{
    margin-left: 15vw;
}
#divere{
    margin-left: 8vw;
}